<div id="portfolio">
	<div class="portfolioBanner banner col-md-12">
		<h2 class="white">Porfolio </h2>
	</div>
	<div class="panel panel-info col-md-8 col-md-offset-2">
		<div class="panel-body">
			<div class="portSection">
				<div class="row">
					<h4 class="pull-left">matched connections</h4>
				</div>
				<p>My dating website/missed connection imporvement/reddit substitute/chat app/.  A user can sign up, and match other people together for internet points.  They can also fill out thier own profiles, to be matched by other people. Frontend:JavaScript/CSS3/jQuery. Backend: Socket.IO, Express/Handlebars.js</p>
				<div class="row">
					<button class="pull-right">deployed </button>
					<button class="pull-right">github </button>
				</div>
			</div>
			<div class="portSection">
				<div class="row">
					<h4 class="pull-left">liberty vices</h4>
				</div>
				<p>Website commisioned for local band. I was responsible for the full-stack development, with an emphasis on front end presentation and mobile responsiveness. Frontend:JavaScript/CSS3/jQuery. Backend: Express/Handlebars.js</p>
				<div class="row">
					<button class="pull-right">deployed </button>
					<button class="pull-right">github </button>
				</div>
			</div>
			<div class="portSection">
				<div class="row">
					<h4 class="pull-left">miriam's memories </h4>
				</div>
				<p>A medical based database that assists with the in home care of patients with dementia. This is a group project. I was responsible for the full stack development of the site. The design is intended to be used with tablets</p>
				<div class="row">
					<button class="pull-right">deployed </button>
					<button class="pull-right">github </button>
				</div>
			</div>
			<div class="portSection">
				<div class="row">
					<h4 class="pull-left">good form</h4>
				</div>
				<p>A group project I did while attending Rutgers Coding Bootcamp. This site is an organizational tool for educational organizations. It streamlines communication, submission and organization of forms and other data, and provides a community for participants. Users must create an account, log in, and be assigned appropriate admin and participant authorization.</p>
				<div class="row">
					<button class="pull-right">deployed </button>
					<button class="pull-right">github </button>
				</div>
			</div>
			<div class="portSection">
				<div class="row">
					<h4 class="pull-left">adminHoops</h4>
				</div>
				<p>A custom bit of code, which looks through an inbox for all unread messages from admin@indoorhoops.com. It then takes details about the booked basketball game and adds that data to Google Calendar. It then marks the email as read. This was my first time using Google Script.</p>
				<div class="row">
					<button class="pull-right">github </button>
				</div>
			</div>
			<div class="portSection">
				<div class="row">
					<h4 class="pull-left">king of dice</h4>
				</div>
				<p>A companion app to the King Of New York board game.</p>
				<div class="row">
					<button class="pull-right">deployed </button>
					<button class="pull-right">github </button>
				</div>
			</div>

		</div>
	</div>
</div>
