.navbar-brand {
  font-size: 2em;
  font-weight: 500;
}

.musicBanner h2, .linksBanner h2, .banner h2 {
  font-size: 100px;
  margin-top: 0px;
  font-weight: 600;
  float:none;
  margin:0 auto;
}
.customP {
  font-size: 1.5em
}
.white {
  color: white;
}
.navbar-inverse {
  margin-bottom: 0px;
  border-radius:0px;
}

div.container-fluid {
  padding: 0px;
  margin-top: 0px;
}

#portfolio .panel-info {
  margin-top: 15px;
  border:0px;
  border-radius:1px;
  box-shadow: 0px 0px 0px 8px rgba(47,164,231,0.1);
}

#portfolio .panel-body {
  padding-top: 0px;
}

#portfolio .panel-body h4 {
  text-transform: uppercase;
}

#portfolio .panel-body button {

}


#link {
  background-color: red;
  border:black 33px solid;
}

.music .musicContainer {
  margin-top: 40px;
}
.storyContainer, .musicContainer, #linkContainer {
    box-shadow: 0px 0px 0px 8px rgba(47,164,231,0.1);
    padding: 15px 10px;
}

#linkContainer {
  padding:15px 10px 0px;
  margin-top: 30px;
}
#portfolio .portSection {
  border-bottom: 1px rgb(221, 221, 221) solid
}

.storyHeader {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85)), url("../img/code.jpg");
  background-size: cover;
  min-height: 200px;
  margin-bottom: 40px;
}

.portfolioBanner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75)), url("../img/galaxy.jpg");
  background-size: cover;
  min-height: 200px;
  display: flex;
  align-items: center;
}

.linksBanner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../img/socialBanner.png");
  background-size: cover;
  min-height: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.social a {
  text-decoration: none;
}
.social .socialContainer {
  background-color: white;
  margin-bottom: 15px;
  border:3px solid #eeeeee;
  border-radius: 5px;
  padding:5px 0px;
}

.social .socialContainer:hover {
  background-color:#eeeeee;
}

.social .socialContainer:active {
  box-shadow: none;
}

.image-holder img {
  height:65px;
  width: 65px;
}

.musicBanner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.75)), url("/img/music.png");
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.nav li a {
  font-size: 1.25em;
  font-weight: 400;
}
.storyHeader h2 {
  font-size: 100px;
  margin-top: 0px;
}

h1, h2, h3, h4{
  font-size: 2em; 
}

.containMain{
   padding-top:20px;
}

.home{
  margin-top: 40px;
}
.social .socialContainer {
  display: flex;
  align-items: center;
}
  
.social .socialContainer h4 {
  font-size: 40px;
  padding:0px 0px 5px 0px;
  margin:0px;
  line-height:0;
  color:#515A5A;
}

.story .storyContainer {
  margin-top: 10px;

}
.story .storyContainer p {
  font-size: 22px;
}

.music .description p { 
  color:#555555;
  font-size: 1.5em;
  padding:0px 0px;
}

.music .musicHolder {
  background-color: #eeeeee;
}

.music .musicHolder iframe {
  margin:10px 0px;
}
@media only screen and (max-width: 990px) {
  .containMain { 
    padding-top:85px;
    padding-bottom:0px;
   margin-bottom: 10px;
  }
}
@media only screen and (max-width: 990px) {
  .banner h2{
    font-size: 80px;
  }

 .social .socialContainer h4 {
  font-size: 34px;

 }

}

.modalFooter{
  margin-top: 15px
}

p {
  font-size: 1.25em;
}
.btn-lg{
  margin-top:10px;
  margin-bottom:10px;
}

img {
  width: 267px;
}
iframe {
  margin-bottom: 18px;
}

h3, h2, h4 {
  text-align: center;
}
.navbar-fixed-bottom{
  margin-top:40px; 
}
.navbar-brand-gmail {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 0;
  margin: auto;
}
.centerPicture {
  text-align: center;
  min-height: 350px;
}

.spin{animation:w3-spin .6s  linear;-webkit-animation:w3-spin .6s  linear}
@-webkit-keyframes w3-spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes w3-spin{
0%{-webkit-transform:rotate(0deg);transform: rotate(0deg)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}

.contactPicture {
  margin-left: auto;
  margin-right: auto;
  height:40px; 
  width:40px;
}
.customPanel{
  background-color: darkblue;
  padding:10px;
}

.customP{
  font-size: 1.25
}

@media only screen and (min-width: 990px) {
.zoom {-webkit-animation:animatezoom 0.4s;animation:animatezoom 0.4s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.fadeIn{-webkit-animation:opac 1.5s;animation:opac 1.5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}

.left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-200px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-200px;opacity:0} to{left:0;opacity:1}}

.top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

.bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-200px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-200px;opacity:0} to{bottom:0;opacity:1}}

}