.navbar-brand {
    font-size: 2em;
     font-weight: 500;
}

.musicBanner h2, .linksBanner h2 {
  font-size: 100px;
  margin-top: 0px;
  font-weight: 600;
float:none;
margin:0 auto
}
.customP {
  font-size: 1.5em
}
.white {
  color: white;
}
.navbar-inverse {
  margin-bottom: 0px;
  border-radius:0px;
}

div.container-fluid {
  padding: 0px;
  margin-top: 0px
}

.storyHeader {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/code.jpg");
          background-size: cover;
          min-height: 200px;
}

.linksBanner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/chainLink.png");
          background-size: cover;
          min-height: 200px;
             display: flex;
  align-items: center;
}

.social a {
    text-decoration: none;
}
.social .socialContainer {

  margin-top: 15px;
  background-color:#eeeeee;
    border:3px solid #eeeeee;
  padding:5px 0px;
     box-shadow: 8px 8px 3px #888888;
}



.social .socialContainer:hover {
  background-color: white;
/*  border:3px lightgray solid;*/

}

.social .socialContainer:active {
  box-shadow: none;
}

.image-holder img {
  height:65px;
  width: 65px;
}

.musicBanner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/img/rickLong.png");
          background-size: cover;
         height: 200px;
          display: flex;
  align-items: center;

}
.nav li a {
  font-size: 1.25em;
  font-weight: 400;

}


.storyHeader h2 {
  font-size: 100px;
  margin-top: 0px;
}

h1, h2, h3, h4{
  font-size: 2em; 
}


.containMain{
   padding-top:20px;

}

.home{
  margin-top: 40px;
}
.social .socialContainer {
    display: flex;
  align-items: center;
}
  
.social .socialContainer h4 {
  font-size: 40px;
  padding:0px 0px 5px 0px;
  margin:0px;
  line-height:0;
  color:#515A5A;

}

.story .storyContainer {
  margin-top: 15px;
}
.story .storyContainer p {
  font-size: 22px;
}

.music .description p { 
  color:#555555;
  font-size: 1.5em;
  padding:15px 0px;
}

.music .musicHolder {
  background-color: #eeeeee;
}

.music .musicHolder iframe {
  margin:10px 0px;
}
@media only screen and (max-width: 990px) {
  .containMain { 
    padding-top:85px;
    padding-bottom:0px;
   margin-bottom: 10px;
  }
}
.modalFooter{
  margin-top: 15px
}


p {
  font-size: 1.25em;
}
.btn-lg{
  margin-top:10px;
  margin-bottom:10px;
}

img {
  width: 267px;
}
iframe{
  margin-bottom: 18px;
}

h3, h2, h4 {
  text-align: center;
}
.navbar-fixed-bottom{
  margin-top:40px; 
}
.navbar-brand-gmail {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 0;
  margin: auto;
}
.centerPicture {
  text-align: center;
  min-height: 350px;
}

.spin{animation:w3-spin .6s  linear;-webkit-animation:w3-spin .6s  linear}
@-webkit-keyframes w3-spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes w3-spin{
0%{-webkit-transform:rotate(0deg);transform: rotate(0deg)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}

.contactPicture {
  margin-left: auto;
  margin-right: auto;
  height:40px; 
  width:40px;
}
.customPanel{
background-color: darkblue;
padding:10px;
}

.customP{
  font-size: 1.25
}

@media only screen and (min-width: 990px) {
.zoom {-webkit-animation:animatezoom 0.4s;animation:animatezoom 0.4s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.fadeIn{-webkit-animation:opac 1.5s;animation:opac 1.5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}

.left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-200px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-200px;opacity:0} to{left:0;opacity:1}}

.top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

.bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-200px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-200px;opacity:0} to{bottom:0;opacity:1}}

}